[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
scipy = "*"
jupyterlab = "==4.0.0"
matplotlib = "*"
numpy = "*"
scienceplots = "*"
torch = "*"
jupyter-contrib-nbextensions = "*"

[dev-packages]

[requires]
python_version = "3.11"
